.record-container{
  height: auto;
  width: 60%;
  margin-left: 20%;
  position: relative;
  top: 100px;
  padding-top: 20px;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) inset,
  0 13px 15px rgb(31 45 61 / 15%);
  .record-default{
    background-color: rgba(247, 247, 247, 0.8);
    width: 80%;
    border-radius: 4px;
    height: 300px;
    margin-left: 10%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .r-d-img{
      width: 80px;
      height: 80px;
      position: relative;
      & img{
        position: absolute;
        top: 0;
        border-radius: 4px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.record-body{
  width: 100%;
  height: 500px;
  min-height: 50px;
}
.record-main{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 240px;
  z-index: 2;
  position: relative;
  margin-left: 0px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-radius: 4px;
}
.emoji-btn,.record-publish-btn{
  width: 90px;
  height:35px;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) inset,
  0 13px 15px rgb(31 45 61 / 15%);
  border-radius: 4px;
  position: absolute;
  right: 200px;
  bottom: 40px;
  background: rgb(255, 255, 255,0.75);
  text-align: center;
  line-height: 35px;
  font-weight: 600;
  font-family: YouYuan;
  color: rgb(93, 93, 93);
  cursor: pointer;
}
.record-publish-btn{
  right: 100px;
}
.record-msg-main{
  width: 80%;
  margin-left: 10%;
  margin-top: 0px;
  position: absolute;
  top: 25px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px 50px;
  outline: none;
  border: none;
  color: rgb(76, 76, 76);
  background: rgb(255, 255, 255,0.7);
  font-size: 20px;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
}
input::-webkit-input-placeholder{
  color: rgb(81, 81, 81);
  font-weight: 600;
}
textarea::-webkit-input-placeholder{
  color: rgb(86, 85, 85);
  font-weight: 500;
  font-size: 14px;
}
.all-record{
  position: relative;
  width: 80%;
  margin: auto;
  height: auto;
  padding: 20px 0;
  padding-bottom: 40px;
  border-radius: 4px;
  background-color: rgba(247, 247, 247, 0.8);
  margin-top: 10px;
  zoom:1;
  overflow:hidden;
}
.record-list{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  border-radius: 4px;
  list-style: none;
}
.emoji-picker{
  position: absolute;
  right: -50px;
  top: 210px;
  z-index: 9999;
}

.record-publish-btn:hover{
  color: rgb(35, 121, 119);
}
.publish{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 5px;
}
.record-publish-btn span{
  position: absolute;
  right: 20px;
  font-size: 16px;
}
.record-list li{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  height: auto !important;
  font-family: YouYuan;
}
.r-create-time{
  width: 200px;
  height: 30px;
  line-height: 30px;
  position: relative;
  left: 30px;
  top: 10px;
  font-size: 14px;
  color: rgb(74, 136, 74);
  font-weight: 600;
}
.r-message{
  width: 80%;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  left: 30px;
  top: 10px;
  font-size: 18px;
}
.record-page{
  position: absolute;
  right: 100px;
}
.delete-btn{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
}
.delete-btn img{
  width: 100%;
  height: 100%;
}
