.j-card {
  --j-card-border-radius: var(--j-radius-middle);
  --j-card-border-color: #e4e7ed;
  --j-card-background-color: var(--j-color-white);
  --j-card-padding: 20px;
  border-radius: var(--j-card-border-radius);
  border: 1px solid var(--j-card-border-color);
  background-color: var(--j-card-background-color);
  overflow: hidden;
  box-sizing: border-box;
  color: var(--j-text-color-primary);
  transition: 0.3s;

  &.is-always-shadow {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  }

  &.is-hover-shadow {
    &:hover,
    &:focus {
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    }
  }

  &__header {
    padding: calc(var(--j-card-padding) - 2px) var(--j-card-padding);
    border-bottom: 1px solid var(--j-card-border-color);
    box-sizing: border-box;
  }

  &__body {
    padding: var(--j-card-padding);
  }
}
