.w-e-text-container {
    background-color: var(--opacity3) !important;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
    color: var(--text7) !important;

}

.night-essay,
.night-project {
    code {
        color: var(--text11) !important;
    }

}

// .night-essay,
// .night-project {
//     code {
//         background-color: rgb(250, 202, 112) !important;
//     }
// }