.note-main {
    width: 100%;
    min-height: calc(100vh);

    .about-container {
        width: 60%;
        height: 1200px;
        position: absolute;
        background: rgb(255, 255, 255, 0.6);
        margin-left: 50%;
        transform: translateX(-50%);
        top: 100px;
        border-radius: 8px;
        box-shadow: 0 0 0 1px rgb(255 255 255 / 40%) inset,
            0 13px 15px rgb(31 45 61 / 15%);

        .about-me {
            width: 90%;
            margin: auto;
            height: auto;
            min-height: 100px;
            padding: 20px 10px;
            margin-top: 30px;
            background: rgb(255 255 255 / 20%);
            border-radius: 12px;
            position: relative;

            .introduce-me {
                width: 95%;
                height: auto;
                min-height: 80px;
                padding: 20px 10px;
                border-radius: 12px;
                margin-bottom: 30px;

                .introduce-me-tit {
                    width: 110px;
                    height: 35px;
                    background: rgba(173, 255, 255, 0.4);
                    font-size: 22px;
                    font-family: YouYuan;
                    text-align: center;
                    line-height: 35px;
                    border-radius: 12px;
                }

                .introduce-me-main {
                    width: 95%;
                    height: auto;
                    min-height: 80px;
                    margin-top: 20px;
                    border-radius: 12px;
                    font-size: 18px;
                    line-height: 40px;
                }

                &:nth-child(2n-1) {
                    background: rgb(250 250 250 / 50%);
                    color: #666666;
                }

                &:nth-child(2n) {
                    background: rgba(220, 240, 240, 0.6);
                    color: rgb(77, 77, 77);

                }

                &:nth-child(2n-1):hover {
                    transition: 800ms;
                    background: rgb(255 255 255 / 70%);
                    transform: translateY(10px);
                }

                &:nth-child(2n):hover {
                    transition: 800ms;
                    background: rgba(220, 240, 240, 0.8);
                    transform: translateY(10px);
                }
            }
        }
    }
}