.shareControl{
  width: 100%;
  height: auto;
}
.write-template{
  width: 100%;
  height: calc(100vh);
  position: fixed;
  top: 0;
  left: 0;
}
.share-control{
  width: 56%;
  height: auto;
  margin-left: 20%;
  position: relative;
  top: 140px;
  padding-top: 30px;
  border-radius: 4px;
  background: rgb(255, 255, 255,0.5);
}
.new-block {
  border-radius: 4px;
}
.control-share-list{
  width: 80%;
  height: auto;
  margin: 0;
  margin-left: 10%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.control-share-list li{
  width: 100%;
  height: 200px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
.control-share-img{
  width: 40%;
  margin-left: 3%;
  height: 80%;
  position: absolute;
  left: 0;
  overflow: hidden;
  margin-top: 3%;
  border-radius: 4px;
}
.control-share-img img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.control-share-img img:hover{
  transform: scale(1.1);
  transition: 400ms;
}
.control-share-content{
  width: 55%;
  height: 70%;
  box-sizing: border-box;
  padding: 10px 20px;
  position: absolute;
  bottom: 15%;
  left: 45%;
  border-radius:0 4px 4px 0;
  border-left: 4px solid green;
  box-shadow: 0 0 0 1px rgb(255 255 255 / 40%) inset,
  0 13px 15px rgb(31 45 61 / 15%);
  font-family: YouYuan;
  font-size: 20px;
  line-height: 40px;
  display:-webkit-box;
  -webkit-box-orient:vertical;/*设置方向*/
  -webkit-line-clamp:2;/*设置超过为省略号的行数*/
  overflow:hidden;
}
.share-delete{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  z-index: 999;
  opacity: 0.3;
}
.control-share-item:hover .share-delete{
  opacity: 1;
}
.add-share-container {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.7);
  .add-share {
    width: 60%;
    height: 100%;
    margin: auto;
    position: relative;
    & .add {
      position: absolute;
      text-align: center;
      width: 70px;
      height: 70px;
      left: 50%;
      transform: translateX(-50%);
      top: 60px;
    }
  }
}
.icon-button{
  position: fixed;
  right: 50px;
  bottom: 170px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin-bottom: 10px;
  }

