.j-footer {
  // @include set-component-css-var('footer', $footer);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: rgb(82, 147, 197);
  text-align: center;
}
