.publish-box {
    margin-bottom: 50px;
    position: relative;
    .message-msg {
        width: 100%;
        top: 10px;
        height: 200px;
        box-sizing: border-box;
        padding: 10px 50px;
        outline: none;
        border: none;
        color: var(--text7);
        font-size: 20px;
        background-color: var(--bg1);
;
        box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) inset,
            0 13px 15px rgb(31 45 61 / 15%);
        border-radius: 4px;
        resize: none;
        overflow: hidden;
        overflow-y: auto;
    }

    .message-msg::placeholder {
        color: var(--text7);
    }

    .btns {
        width: 160px;
        display: flex;
        position: absolute;
        right: 30px;
        bottom: 20px;
        justify-content: flex-end;
        .emoji-btn,
        .message-publish-btn {
            width: 70px;
            height: 35px;
            margin-top: 6px;
            border-radius: 8px;
            text-align: center;
            line-height: 35px;
            font-weight: 600;
            color: var(--same0);
            border-radius: 4px;
            background-color: var(--success1);
            cursor: pointer;
        }
        .emoji-btn:hover {
            background-color: var(--rose5);
        }
        .message-publish-btn {
            &:hover {
                background-color: var(--rose5);
            }
        }
    }


    .emoji-picker {
        position: fixed;
        right: -100px;
        bottom: 200px;
        z-index: 99999;
    }

}