.j-content {
  // @include set-component-css-var('main', $main);
  display: flex;
  // display: block;
  flex: 1;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(134, 191, 235);
}
