$opacityColor: rgb(255, 255, 255, 0.95);
@import '../../../assets/scss/index.scss';

.block {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  .bg-img {
    width: 100%;
    height: calc(105vh);
    position: fixed;
    top: 0;
    left: 0;
  }

  .icon-buttons {
    width: 44px;
    height: auto;
    display: flex;
    position: fixed;
    flex-direction: column;
    bottom: 96px;
    right: 10px;
    z-index: 999;

    .btn-item {
      position: relative;
      width: 44px;
      height: 44px;
      margin-top: 10px;
      margin-left: 0;
    }

  }

  .button-left {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    left: 10px;
    bottom: 30px;

    .btn-item {
      position: relative;
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .note-wrapper {

    .note-main {
      width: 700px;
      position: relative;
      left: 0;
      top: 0;

      .editor {
        height: calc(100vh - 235px);
      }
    }
  }

  .main-body {
    width: 100%;
    min-width: 800px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 200px;
    height: auto;
    position: relative;
    border-radius: 4px;

    .banner {
      min-width: 100%;
      width: 100%;
      margin: auto;
      height: 250px;
      border-radius: 4px;
      overflow: hidden;
      z-index: 100;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .banner-tit-box {
        width: 80%;
        height: 200px;
        z-index: 2;
        position: absolute;
        bottom: 0px;
        left: 5%;
        box-sizing: border-box;
        color: var(--same0);
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        text-align: left;

        .banner-subtitle {
          width: 90%;
          // overflow: hidden;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          text-shadow: 0 2px 2px rgb(0 0 0 / 30%);
          opacity: 0.9;
          color: var(--same0);
          font-size: 1.5rem;
          padding: 10px 0;
        }

        // .banner-line {
        //   width: 100px;
        //   height: 1px;
        //   background: rgb(255, 255, 255, 0.6);
        //   box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
        //   opacity: 0.75;
        //   margin: 10px 0;
        // }


        .updated-time {
          width: 90%;
          height: 100px;
          font-size: 12px;
          padding: 10px 0;
        }
      }

      .operation {
        width: 100%;
        position: absolute;
        bottom: 0px;
        height: 60px;
        line-height: 60px;
        padding: 5px 0px;
        z-index: 3;
        display: flex;
        justify-content: center;
        color: var(--same0);
        background-color: rgb(0, 0, 0, 0.2);
        font-size: 12px;

        .good-icon,
        .collect-icon,
        .comment-icon,
        .view-icon {
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 30px;

          span {
            margin: 0 5px;
          }
        }

        .comment-icon {
          margin-right: 50px;
        }
      }
    }

    .main-container {
      width: 60%;
      height: auto;
      position: relative;
      margin: auto;
      top: 300px;

      @media (max-width: 1300px) {
        .main-page {
          width: 100% !important;
        }
      }

      @media screen and (min-width: 1300px) {
        .main-page {
          width: 78%;
        }
      }

      .main-page {
        position: relative;
        height: auto;
        border-radius: 4px;
        box-sizing: border-box;
        top: 0px;

        .digest {
          width: 100%;
          height: auto;
          min-height: 50px;
          border-radius: 10px;
          z-index: 2;
          position: relative;
          box-sizing: border-box;
          padding-bottom: 10px;
          margin-bottom: 30px;
          background-color: var(--primary1);
        }

        .gap-line {
          position: relative;
          width: 100%;
          border-radius: 4px;
          opacity: 0.8;
          height: 30px;
          line-height: 30px;

          .snow {
            position: absolute;
            left: 50px;
            top: 0;
            transition: 1000ms;
          }
        }

        .essay {
          width: 100%;
          min-height: 500px;
          height: auto;
          margin-top: 30px;
          z-index: 2;
          border-radius: 4px;
          position: relative;
          box-sizing: border-box;


        }

        .digest-content,
        .essay-content {
          width: 100%;
          height: auto;
          border-radius: 4px;
          min-height: 50px;
          text-align: left;
          text-shadow: 0 1px rgb(255 255 255 / 50%);
          color: var(--text7);
          box-sizing: border-box;
          overflow: hidden;
        }

        .digest-content {
          text-align: left;
          padding: 5px 30px;
          line-height: 40px;
          font-size: 1.2rem;
          color: #666;

          .digest-head {
            display: flex;
            justify-content: space-between;
            position: relative;
            width: 100%;
            height: 30px;
            line-height: 30px;
            top: 0px;

            & p {
              margin-left: 10px;
              font-size: 12px;
              color: var(--text8);
            }

            & .digest-icon {
              position: relative;
            }
          }
        }

        .comment {
          width: 100%;
          height: auto;
          box-sizing: border-box;
          padding-bottom: 800px;

          .c-publish {
            width: 100%;
            height: 200px;
            // background: var(--opacity0);
            border-radius: 4px;
            margin-top: 10px;
            box-sizing: border-box;
            position: relative;
            z-index: 3;
            transition: 300ms;
            transform: rotateX(0deg);

            #input {
              width: 100%;
              height: 100%;
              padding: 10px 15px;
              font-size: 20px;
              border-radius: 4px;
              outline: none;
              border: none;
              resize: none;
              box-sizing: border-box;
              overflow: hidden;
              overflow-y: auto;
              // background-color: var(--opacity1);
              color: var(--text7);
            }

            input::-webkit-input-placeholder {
              color: var(--text7);
              font-weight: 600;
            }

            textarea::-webkit-input-placeholder {
              color: var(--text7);
              font-weight: 500;
              font-size: 14px;
            }

            .emoji-btn,
            .c-publish-btn {
              background-color: var(--success1);

              margin-top: 6px;
              width: 90px;
              font-size: 16px;
              height: 35px;
              position: absolute;
              border-radius: 8px;
              text-align: center;
              color: var(--text5);
              line-height: 35px;
            }

            .emoji-btn:hover {
              background-color: var(--rose5);
            }

            .c-publish-btn:hover {
              background-color: var(--rose5);
            }

            .emoji-btn {
              right: 140px;
              bottom: 23px;
              cursor: pointer;
            }

            .c-publish-btn {
              right: 20px;
              bottom: 23px;
              cursor: pointer;
            }

            .emoji-picker {
              position: absolute;
              z-index: 999;
              right: -176px;
              top: 191px;
            }
          }

          .c-publish-close {
            height: 0;
            margin: 0;
            transform: rotateX(90deg);
            transform-origin: top center;
          }

          .comment-list {
            width: 100%;
            height: auto;
            // background-color: var(--opacity3);
            list-style: none;
            border-radius: 4px;
            margin: 10px 0 0 0;
            padding: 10px 0;
            z-index: 1;
            position: relative;

            & li {
              width: 98%;
              height: auto;
              min-height: 100px;
              margin: 10px 1%;
              padding: 10px;
              box-sizing: border-box;
              position: relative;
              display: flex;
              justify-content: left;

              .c-portrait {
                width: 60px;
                height: 60px;
                border-radius: 4px;
                overflow: hidden;

                & img {
                  width: 60px;
                  height: 60px;
                }
              }

              .c-right {
                width: 90%;
                height: 100%;
                position: relative;
                margin-left: 24px;

                .c-top,
                .c-publish-time,
                .c-msg {
                  width: 100%;
                  color: var(--text7);
                }

                .c-top {
                  height: 30px;
                  line-height: 30px;
                  display: flex;
                  justify-content: left;

                  .c-name {
                    margin-right: 10px;
                    font-size: 18px;
                    color: var(--text7);
                  }

                  .c-address {
                    font-size: 12px;
                    color: var(--text7);
                  }
                }

                .c-publish-time {
                  font-size: 12px;
                  color: var(--text7);
                }

                .c-msg {
                  font-size: 16px;
                  font-weight: 600;
                  height: auto;
                  margin-top: 10px;
                }

                .c-del {
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                .more {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  right: 0px;
                  top: 20px;
                }
              }
            }
          }

          .no-comments {
            width: 100%;
            height: 100px;
            line-height: 100px;
            text-align: center;
            font-size: 30px;
            // background-color: var(--opacity0);
            border-radius: 4px;
            margin-top: 10px;

            color: var(--text7);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .bg-img {
    display: none;
  }

  .icon-buttons {
    transform: scale(0.8);
    bottom: 0 !important;
    right: 0 !important;

    & .btn-item:nth-child(2) {
      display: none !important;
    }
  }

  .button-left {
    display: none !important;
  }

  .main-body {
    width: 100vw !important;
    min-width: 300px !important;
    margin-top: 40px;

    .banner {
      height: 120px !important;

      .banner-tit-box {
        display: none !important;
      }

      .operation {
        height: 30px !important;
        line-height: 30px !important;
        font-size: 0.6rem !important;

        .good-icon,
        .collect-icon,
        .comment-icon,
        .view-icon {
          width: 20px !important;
          display: flex;
          justify-content: center;
          margin: 0 30px;

          span {
            margin: 0 5px;
          }
        }

        .comment-icon {
          margin-right: 50px;
        }
      }
    }

    .main-container {
      width: 100% !important;
      top: 150px !important;


      .main-page {
        top: 0 !important;

        .digest {
          display: none;
        }

        .essay {
          top: 0;
          width: 100vw !important;
          margin-top: 15px !important;
        }

        .comment {
          width: 100%;
          height: auto;
          box-sizing: border-box;
          padding-bottom: 800px;

          .c-publish {
            width: 100%;
            height: 200px;
            // background: var(--opacity0);
            border-radius: 4px;
            margin-top: 10px;
            box-sizing: border-box;
            position: relative;
            z-index: 3;
            transition: 300ms;
            transform: rotateX(0deg);

            #input {
              width: 100%;
              height: 100%;
              padding: 10px 15px;
              font-size: 20px;
              border-radius: 4px;
              outline: none;
              border: none;
              resize: none;
              box-sizing: border-box;
              overflow: hidden;
              // background-color: var(--opacity1);
              color: var(--text7);
            }

            input::-webkit-input-placeholder {
              color: var(--text7);
              font-weight: 600;
            }

            textarea::-webkit-input-placeholder {
              color: var(--text7);
              font-weight: 500;
              font-size: 14px;
            }

            .emoji-btn,
            .c-publish-btn {
              background-color: var(--success1);

              margin-top: 6px;
              width: 90px;
              font-size: 16px;
              height: 35px;
              position: absolute;
              border-radius: 8px;
              text-align: center;
              color: var(--text5);
              line-height: 35px;
            }

            .emoji-btn:hover {
              background-color: var(--rose5);
            }

            .c-publish-btn:hover {
              background-color: var(--rose5);
            }

            .emoji-btn {
              right: 140px;
              bottom: 23px;
              cursor: pointer;
            }

            .c-publish-btn {
              right: 20px;
              bottom: 23px;
              cursor: pointer;
            }

            .emoji-picker {
              position: absolute;
              z-index: 999;
              right: -176px;
              top: 191px;
            }
          }

          .c-publish-close {
            height: 0;
            margin: 0;
            transform: rotateX(90deg);
            transform-origin: top center;
          }

          .comment-list {
            width: 100%;
            height: auto;
            list-style: none;
            border-radius: 4px;
            margin: 10px 0 0 0;
            padding: 10px 0;
            z-index: 1;
            position: relative;

            & li {
              width: 98%;
              height: auto;
              min-height: 100px;
              margin: 10px 1%;
              padding: 10px;
              box-sizing: border-box;
              position: relative;
              display: flex;
              justify-content: left;

              .c-portrait {
                width: 60px !important;
                min-width: 60px;
                height: 60px;
                border-radius: 4px;
                overflow: hidden;

                & img {
                  width: 100% !important;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .c-right {
                width: calc(100% - 80px);
                margin-left: 20px;
                height: 100%;
                position: relative;

                .c-top,
                .c-publish-time,
                .c-msg {
                  width: 90% !important;
                  color: var(--text7);
                }

                .c-top {
                  height: 30px;
                  line-height: 30px;
                  display: flex;
                  justify-content: flex-start;

                  .c-name {
                    margin-right: 10px;
                    font-size: 0.8rem !important;
                    color: var(--text7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }

                  .c-address {
                    font-size: 0.7rem !important;
                    color: var(--text7);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }

                .c-publish-time {
                  font-size: 12px;
                  color: var(--text7);
                }

                .c-msg {
                  font-size: 14px;
                  height: auto;
                  margin-top: 5px;
                  word-wrap: break-word;
                  /* 强制换行 */
                  word-break: break-all;
                  /* 防止宽度被撑大 */
                }

                .c-del {
                  position: absolute;
                  right: 0;
                  top: 0;
                }

                .more {
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  right: 0px;
                  top: 20px;
                }
              }
            }
          }

          .no-comments {
            width: 100%;
            height: 100px;
            line-height: 100px;
            text-align: center;
            font-size: 30px;
            border-radius: 4px;
            margin-top: 10px;

            color: var(--text7);
          }
        }
      }
    }
  }
}