.header {
    width: 100%;
    height: 60px;
    position: fixed;
    min-width: 1300px;
    top: 0;
    z-index: 99;
    .header-box {
      width: 100%;
      height: 100%;
      position: relative;
      left: 0;
      box-shadow: 0 1px #939393, 0 0 transparent, 0 2px rgb(255 255 255);
      background: -webkit-linear-gradient(
        left,
        rgba(246, 246, 246, 0.8),
        rgba(216, 245, 255, 0.8)
      );
      .back{
        position: absolute;
        left: 4%;
        top: 15px;
      }
      .search-box{
        position: absolute;
        left: 20%;
        top: 15px;
      }
      .header-tab {
        width: 400px;
        height: 60px;
        position: absolute;
        right: 15%;
        top: 10px;
        .item {
          width: 100%;
          height: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          justify-content: space-between;
          list-style: none;
          & li {
            position: relative;
            width: 20%;
            height: 60px;
            line-height: 60px;
            & .head-icon {
              position: absolute;
              width: 30px;
              height: 30px;
              margin-left: 50%;
              transform: translateX(-50%);
              margin-top: 10px;
              
              .head-icon:hover {
                transform: scale(1.2);
                transition: 400ms;
              }
            }
          }
        }
        .line {
          width: 32px;
          height: 4px;
          background: #518105;
          box-shadow: 0 0 1px 1px #4a6f0f;
          border-radius: 2px;
          position: absolute;
          left: 103px;
          top: 44px;
          pointer-events: none;
          transition: 500ms;
        }
      }
    }
    .second-tab{
      position: fixed;
      top: 60px;
      width: 100%;
      height: 60px;
      background: -webkit-linear-gradient(
        left,
        rgba(246, 246, 246, 0.8),
        rgba(216, 245, 255, 0.8)
      );
      .second-item{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style: none;
        box-shadow: 1px 1px 10px 1px #e5f0fd;  
        & li{
          width: 25%;
          height: 100%;
          line-height: 60px;
          text-align: center;
          & a{
            text-decoration: none;
            color: #4a6f0f;
            font-size: 18px;
            font-family: YouYuan;
            font-weight: 700;
          }
        }
      }
    }
  }