.j-sider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: rgb(116, 165, 203);
  text-align: center;
}
