.counter {
    width: auto;
    height:30px;
    display: flex;
    line-height: 32px;
    .reduce,
    .add {
        width: 30px;
        height: 30px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 4px;
        cursor: pointer;
    }

    .reduce {
        border: 1px solid #999999;
        margin-right: 10px;
        &:hover{
            background-color: #f6f6f6;
        }
    }
    .add {
        background: #FFB64E;
        margin-left: 10px;
        &:hover{
            background-color: #fdaa35;
        }
    }
    .number{
        width: auto;
        min-width: 40px;
        height: 30px;
        text-align: center;
        font-weight: 500;
        font-size: 13px;
    }
    .min,.max{
        color: #636363;
        cursor: no-drop;
    }
    .min{
        background-color: #dfdfdf;
        &:hover{
            background-color: #dfdfdf;
        }
    }
    .max{
        background-color: #fca428; 
        &:hover{
            background-color: #fca428;
        }
    }
    input{
        border: none;
        outline: none;
        width: auto;
        min-width: 30px;
        max-width: 40px;
        height: 30px;
        text-align: center;
    }
}