
[v-cloak] {
    display: none;
  }
  .home {
    box-shadow: 0 0 10px rgba(0,0,10,.3);
    width: 1260px;
    min-width: 1260px;
    height: auto;
    min-height: calc(110vh);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 500px;
    .bg-shadow {
      width: 100%;
      height: calc(100vh);
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.65;
      filter: blur(3px);
    }
  .banner{
    width: 96%;
    height: 400px;
    margin: auto;
    position: relative;
    top: 80px;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px #fff;
    overflow: hidden;
    box-sizing: border-box;
    
    & .banner-btn{
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      background-color: rgba(0,0,10,.3);
      transition: 300ms;
      z-index: 9;
      & .banner-svg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
    & .left{
      left: -60px;
    }
    & .right{
      right: -60px
    }
    &:hover .left{
      left: 20px;
    }
    &:hover .right{
      right: 20px;
    }
    & .banner-mark {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; 
      transition: 2000ms;
      z-index: 1;
       & .mark-shadow{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        background-color: rgba(0,0,0,0.15);
       }
      & .mark{
        position: absolute;
        left: 0;
        top: 0;
        filter: blur(8px);
        width: 100%;
        height: 100%;
      }
      & img{
        position: absolute;
        right: 100px;
        top: 100px;
        width: 200px;
        height: 200px;
        border-radius: 4px;
      }
      .banner-tit-box {
        width: 880px;
        height: 200px;
        z-index: 4;
        position: absolute;
        top: 100px;
        padding-left: 50px;
        .banner-subtitle {
          width: 300px;
          height: 25px;
          position: absolute;
          top: 20px;
          color: white;
          text-shadow: 0 2px 2px rgb(0 0 0 / 30%);
          opacity: .75;
          font-size: 20px;
        }

        .banner-line {
          width: 60px;
          height: 1px;
          background: rgb(255, 255, 255, 0.6);
          position: absolute;
          top: 55px;
          box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
          opacity: .75;
        }

        .banner-title {
          width: 90%;
          height: 100px;
          position: absolute;
          top: 60px;
          font-weight: 400;
          font-size: 40px;
          text-shadow: 0 3px 5px rgb(0 0 0 / 30%);
          color: white;
          line-height: 60px;
        }
      }
    }
    & .banner-dot{
      z-index: 2;
      list-style: none;
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      width: 120px;
      height: 12px;
      justify-content: space-between;
      & li{
        margin: 0;
        width: 12px;
        height: 12px;
        background-color: rgba(255,255,255,.7);
        &:hover{
          box-shadow: 0 0 5px .1px #fff;
        }
      }
    }
  }
    .main {
      width: 96%;
      height: auto;
      margin: auto;
      position: relative;
      top: 100px;
      
    }
    .right-tab {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .right-btn{
      z-index: 999;
      width: 40px;
      height: calc(40px * 1 + 0 * 10px);
      display: flex;
      position: fixed;
      flex-direction: column;
      bottom: 180px;
      right: 50px;
      justify-content: space-between;
    }
  }
  @media screen and (max-width:500px) {
    .home{
      width: 100%;
    }
  }
