    *[data-title]{
      width: auto;
      height: 30px;
      line-height: 30px;
      position: relative;
      z-index: 999;
      &:hover:after {
      opacity: 1;
      transition: all 0.1s ease 0.5s;
      visibility: visible;
    }
    // 背景的样式 位置 字体等
    &:after {
      content: attr(data-title);
      position: absolute;
      padding: 3px 12px;
      left: 24px;
      bottom: -3em;
      border-radius: 4px;
      color: #fff;
      background-color: rgba(80, 79, 79, 0.8);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
      font-size: 12px;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
    }
  }
div{
    cursor: url(http://1.12.36.95:7001/public/uploads/2022/08/05/1659663710655433.png), pointer !important;
}
a,li{
  cursor: url(http://1.12.36.95:7001/public/uploads/2022/08/05/165966375674685.png), pointer !important;
}
li svg{
  cursor: url(http://1.12.36.95:7001/public/uploads/2022/08/05/165966375674685.png), pointer !important;

}
// a,li{
//      cursor: url(http://1.12.36.95:7001/public/uploads/2022/08/05/165966375674685.png), pointer !important;
// }