pre{
    background-color: #F5F2F0;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    margin: 10px 0;
    color: var(--text6);
}
.language-javascript{
    color: var(--success9);
}
.language-css{
    color: var(--rainbow0);
}
.language-html{
    color: var(--officeGreen9);
}