.more-main{
  width: 100%;
  min-height: calc(100vh);
}
.head-tab{
  margin: auto;
}
.more-container {
  width: 60%;
  height: 1200px;
  position: relative;
  margin-left: 50%;
  padding: 15px;
  transform: translateX(-50%);
  top: 80px;
  box-sizing: border-box;
  border-radius: 4px;
  background: rgb(255,255,255 ,0.6);
  box-shadow: 0 0 0 1px rgb(255 255 255 / 40%) inset,
  0 13px 15px rgb(31 45 61 / 15%);
  display: flex;
  justify-content: left;
  .more-part{
    width: 30%;
    height: 100px;
    background: rgba(202, 255, 239, 0.6);
    font-size: 25px;
    text-align: center;
    border-radius: 4px;
    line-height: 100px;
    margin: 10px 20px;
    color: #666;
  }
}
