@import '@/assets/scss/index.scss';
.note-main {
    width: 100%;
    min-width: 1300px;
    min-height: calc(100vh);
    .about-me {
        width: 80%;
        height: auto;
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        top: 100px;
        display: flex;
        flex-wrap: wrap;
        .person{ 
            min-height: 200px;
            height: auto;
        }
        .introduce{
            width: 30%;
            & .introduce-main{
                position: relative;
                margin-top: 20px;
                & .user-msg{
                    width: calc(100% - 100px);
                    height: 100%;
                    position: absolute;
                    left: 10px;
                    & div{
                        margin-bottom: 15px;
                        & span{
                            color: rgb(117, 78, 0);
                            font-size: 18px;
                        }
                    }
                }
            }

        }
        .techniques {
            width: 30%;
            .techniques-tags{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                 & li{
                    width: auto;
                    height: 30px;
                    line-height: 30px;
                    margin: 10px;
                    padding: 0 10px;
                    background-color:$success-hover;
                    color:  $success-plain;
                    border-radius: 4px;
                    text-align: center;
                    &:nth-child(5n){
                        background-color:$primary-hover;
                        color:  $primary-plain;
                    }
                    &:nth-child(5n-1){
                        background-color:$warning-hover;
                        color:  $warning-plain;
                    }
                    &:nth-child(5n-2){
                        background-color:$danger-hover;
                        color:  $danger-plain;
                    }
                    &:nth-child(5n-3){
                        background-color:$info-hover;
                        color:  $info-plain;
                    }
                 }
            }
        }
        .web-intro{
            width: calc(40% - 60px);
            .web-intro-main{
                padding: 10px;
                box-sizing: border-box;
                font-size: 14px;
            }
        }
        .project{
            width: calc(100% - (10px * 2));
            margin-left: 1 0px;
            height: auto;
            min-height: 200px;
            .project-list{
                margin-top: 10px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                & li{
                    width: 30%;
                    height: auto;
                    min-height: 120px;
                    .p-item{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        & a:visited{
                            color: #333;
                        }
                        .cover{
                            width: 45%;
                            height: 100%;
                            & img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .project-msg{
                            width: 55%;
                            margin-left: 10px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            .project-msg{
                                font-size: 18px;
                                color: #333;
                            }
                            .p-create{
                                font-size: 14px;
                                color: #666
                            }
                        }
                    }
        
                }
            }
        }
    }
}
