.loading-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    background: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 9999;
  }
  .loading {
    width: 30%;
    height: 150px;
    border-radius: 15px;
    line-height: 150px;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    text-align: center;
    z-index: 99999;
    & .dot {
    background-color: rgb(255, 166, 0);
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    margin: 0 10px;
    z-index: 99999;
    transition: 600ms;
    text-align: center;
    line-height: 48px;
    color: white;
    font-size: 24px;
    font-weight: 600;
  }
  }