.loading-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    background: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 9999;
  }
  .loading {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    text-align: center;
    z-index: 99999;
    animation: loading 3s linear infinite;
  }
 @keyframes loading{
 from{
  transform: rotate(0deg);
 }
 to{
  transform: rotate(360deg);
 }
 }