
.tabs-nav-wrap {
    text-align: center;
    position: relative;
    .tabs-inv-bar {
        z-index: 99;
        position: absolute;
        background: red;
        transition: transform .2s ease-in-out;
        border-radius: 3px;
    }
}

.side-bar {
    box-sizing: border-box;
    background: rgb(242, 236, 236);
    opacity: 0.6;
    padding: 10px 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: var(--margin-bottom);

    &:hover {
        cursor: pointer;
    }
}

.disabledStyle {
    background: var(--abortColor);
}

.active {
    background: #fff;

}