.message-container{
    height: auto;
    width: 60%;
    margin: auto;
    .all-message{
    width: 100%;
    height: auto;
    padding: 20px 0;
    padding-bottom: 20px;
    border-radius: 4px;
    margin-top: 60px;
    zoom:1;
    position: relative;
    .message-list{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: rgba(247, 247, 247, 0.8);
    padding: 0;
    margin: 0;
    padding: 0 2%;
    padding-bottom: 60px;
    border-radius: 4px;
    list-style: none;
    & li{
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  height: auto !important;
  font-family: YouYuan;
  .c-portrait{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 10px;
}
.c-portrait img{
  width: 100%;
  height: 100%;
}
.c-name{
  width: 45%;
  height: 30px;
  line-height: 30px;
  position: relative;
  left: 80px;
  top: 15px;
  display: flex;
  justify-content: left;
}
.c-name span{
  width: auto;
  height: 30px;
  color: #595959;
  font-size: 20px;
  overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}
.c-name span:nth-child(2){
  color: #595959;
  font-size: 14px;
  font-weight: 400;
}
.c-create-time{
  width: 200px;
  height: 30px;
  line-height: 30px;
  position: relative;
  left: 80px;
  top: 10px;
  font-size: 14px;
  color: #999;
  font-weight: 600;
}
.c-address{
  width: 200px;
  height: 30px;
  line-height: 30px;
  position: relative;
  left: 130px;
  top: 0;
  font-size: 16px;
  color: rgb(83, 83, 83);
}
.c-message{
  width: 80%;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  left: 80px;
  top: 10px;
  font-size: 16px;
  line-height: 26px;
}
.reply-container{
  width: 80%;
  margin-left: 10%;
  height: auto;
  padding: 10px 5px;
  background: rgba(160, 197, 255, 0.5);
  position: relative;
  border-radius: 4px;
  .author-name{
    width: 200px;
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    top: 5px;
  }
  .author-border{
    color: #3e8683;
    border-radius: 4px;
    border: 1px solid #c0fffc;
    background: rgba(199, 255, 252, 0.3);
    width: auto;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }
  .author-update-time{
    padding-left: 20px;
    top: 35px;
    font-size: 12px;
    margin-top: 10px;
    color: rgb(1, 119, 8);
  }
  .author-message{
    width: 80%;
    margin-left: 2%;
    min-height:60px;
    height: auto;
    bottom: 0;
    padding-left: 20px;
    text-align: left;
    line-height: 40px;
    font-family: YouYuan;
    font-size: 18px;
  }
}

}
.query-page-box{
  width: 96%;
  height: 38px;
 /*  background-color: rgba(247, 247, 247, 0.8); */
  position: absolute;
  margin-top: 15px;
  border-radius: 4px;
  .message-page{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  top: 4px;
  z-index: 9999;
}
}
}
}
.message-body{
  width: 100%;
  height: 500px;
  min-height: 50px;
  position: relative;
  z-index: 999;
  .message-main{
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 208px;
  z-index: 999;
  position: relative;
  margin-left: 0px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  /* box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) inset,
    0 13px 15px rgb(31 45 61 / 15%); */
    border-radius: 4px;
    .message-msg{
  width: 100%;
  position: absolute;
  top: 10px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px 50px;
  outline: none;
  border: none;
  color: rgb(47, 47, 47);
  background: rgb(255, 255, 255,0.7);
  font-size: 16px;
  box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) inset,
    0 13px 15px rgb(31 45 61 / 15%);
  border-radius: 4px;
  resize: none;
  overflow: hidden;
}
.emoji-btn,.message-publish-btn{
    width: 90px;
    height:35px;
    margin-top: 6px;
    box-shadow: 0 0 0 2px rgb(255 255 255 / 40%) inset,
    0 13px 15px rgb(31 45 61 / 15%);
    border-radius: 8px;
    position: absolute;
    right: 140px;
    bottom: 23px;
    background: rgb(255, 255, 255,0.75);
    text-align: center;
    line-height: 35px;
    font-weight: 600;
    font-family: YouYuan;
     color: rgb(35, 121, 119);
     cursor: pointer;
}
.emoji-btn:hover{
     color: rgb(255, 120, 241);
}
.message-publish-btn{
    position: absolute;
    right: 20px;
    bottom: 23px;
    &:hover{
  color: rgb(35, 121, 119);
}
& .publish-icon{
    width: 22px;
    height: 22px;
    position: absolute;
    left: 10px;
    top: 3px;
}
& span{
    position: absolute;
    right: 20px;
    font-size: 16px;
}
}

.emoji-picker{
    position: absolute;
    right: -176px;
    top: 191px;
    z-index: 99999;
}
}
}
.message-right-tab{
  position: absolute !important;
  right: 2%;
  top: 20px;
}
}

input::-webkit-input-placeholder{
  color: rgb(92, 92, 92);
  font-weight: 600;
}
textarea::-webkit-input-placeholder{
  color: rgb(83, 83, 83);
  font-weight: 500;
  font-size: 14px;
}
